<web-app>
    <servlet>
        <servlet-name>seleccionar</servlet-name>
        <servlet-class>Seleccionar</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>seleccionar</servlet-name>
        <url-pattern>/seleccionar</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>
