<web-app>
    <servlet>
        <servlet-name>seleccionar</servlet-name>
        <servlet-class>Seleccionar</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>visualizar</servlet-name>
        <servlet-class>Visualizar</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>finalizar</servlet-name>
        <servlet-class>Finalizar</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>seleccionar</servlet-name>
        <url-pattern>/seleccionar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visualizar</servlet-name>
        <url-pattern>/volver</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visualizar</servlet-name>
        <url-pattern>/pagar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visualizar</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visualizar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visualizar</servlet-name>
        <url-pattern>/crear</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>visualizar</servlet-name>
        <url-pattern>/crearYPagar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>finalizar</servlet-name>
        <url-pattern>/finalizar</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>
